@model EventManagement.Models.Event
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<strong>
    @Model.Title 
    <br />
    @Model.EventDate.ToString("MM/dd/yyyy")
</strong>

