@model IEnumerable<EventManagement.Models.Event>

@{
    ViewBag.Title = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>@Html.ActionLink(data.Title,"Details",new {id=data.Id })</td>
                <td>@data.EventDate</td>
            </tr>
        }
    </tbody>
</table>

